<main id="cards">
    <section id="villainSection">

        <section id="villain">


            <div class="card" (mousedown)="startZoom($event)" (mouseup)="stopZoom($event)"
                (touchstart)="startZoom($event)" (touchend)="stopZoom($event)" (touchcancel)="stopZoom($event)"
                (contextmenu)="preventDefault($event)" (selectstart)="preventDefault($event)">
                <img
                    [src]="game.villainCards[0].imagesrc ? 'https://marvelcdb.com' + game.villainCards[0].imagesrc : 'https://marvelcdb.com/bundles/cards/' + '.png'" />
            </div>
            <div id="main-scheme">
                <div class="card scheme" (mousedown)="startZoom($event)" (mouseup)="stopZoom($event)"
                    (touchstart)="startZoom($event)" (touchend)="stopZoom($event)" (touchcancel)="stopZoom($event)"
                    (contextmenu)="preventDefault($event)" (selectstart)="preventDefault($event)" data-counter="5">

                    <img
                        [src]="game.mainSchemes[0].imagesrc ? 'https://marvelcdb.com' + game.mainSchemes[0].imagesrc : 'https://marvelcdb.com/bundles/cards/' + '.png'">
                </div>
            </div>
            <div id="environment">
                <div class="card" (mousedown)="startZoom($event)" (mouseup)="stopZoom($event)"
                    (touchstart)="startZoom($event)" (touchend)="stopZoom($event)" (touchcancel)="stopZoom($event)"
                    (contextmenu)="preventDefault($event)" (selectstart)="preventDefault($event)"
                    *ngFor="let card of game.environments">
                    <img
                        [src]="card.imagesrc ? 'https://marvelcdb.com' + card.imagesrc : 'https://marvelcdb.com/bundles/cards/' + '.png'" />
                </div>
            </div>
        </section>
        <section id="side-schemes">
            <div class="card scheme" (mousedown)="startZoom($event)" (mouseup)="stopZoom($event)"
                (touchstart)="startZoom($event)" (touchend)="stopZoom($event)" (touchcancel)="stopZoom($event)"
                (contextmenu)="preventDefault($event)" (selectstart)="preventDefault($event)" data-counter="5"
                *ngFor="let card of game.sideSchemes">

                <img
                    [src]="card.imagesrc ? 'https://marvelcdb.com' + card.imagesrc : 'https://marvelcdb.com/bundles/cards/' + '.png'" />
            </div>
        </section>
        <section id="villain-cards">
            <div class="card" (mousedown)="startZoom($event)" (mouseup)="stopZoom($event)"
                (touchstart)="startZoom($event)" (touchend)="stopZoom($event)" (touchcancel)="stopZoom($event)"
                (contextmenu)="preventDefault($event)" (selectstart)="preventDefault($event)"
                *ngFor="let card of game.villainCardsInPlay">
                <img
                    [src]="card.imagesrc ? 'https://marvelcdb.com' + card.imagesrc : 'https://marvelcdb.com/bundles/cards/' + '.png'" />
            </div>
        </section>

    </section>
    <section id="divider">
        <div id="line">
            <section class="decks">
                <div id="encounter-discard" class="deck" [attr.data-counter]="game.discardEncounterDeck.length">
                    <img
                        [src]="coreCards[100].imagesrc ? 'https://marvelcdb.com' + coreCards[100].imagesrc : 'https://marvelcdb.com/bundles/cards/' + '.png'" *ngIf="game.discardEncounterDeck.length != 0"/>
                        <img src="../../../assets/encounter_discard.png" alt="encounter discard"
                    *ngIf="game.discardEncounterDeck.length == 0" />
                </div>
                
                <div class="villain-health">
                    <span class="number">14</span>
                </div>
                <div id="encounter-deck" class="deck" [attr.data-counter]="game.encounterDeck.length">
                    <img src="../../../assets/encounter_card_back_marvelchampions.png" />
                </div>
            </section>
            <hr>
            <section class="decks">
                <div id="player-discard" class="deck" [attr.data-counter]="game.playerDiscardDeck.length">
                    <img
                        [src]="coreCards[52].imagesrc ? 'https://marvelcdb.com' + coreCards[52].imagesrc : 'https://marvelcdb.com/bundles/cards/' + '.png'" *ngIf="game.discardEncounterDeck.length != 0"/>
                    <img src="../../../assets/discard.png" alt="encounter discard"
                        *ngIf="game.discardEncounterDeck.length == 0" />
                </div>

                <div class="hero-health">
                    <span class="number">9</span>
                </div>
                <div id="player-deck" class="deck" [attr.data-counter]="game.playerDeck.length">
                    <img src="../../../assets/card_back_marvelchampions.png" />
                </div>
            </section>
        </div>
        <button (click)="toggleRotation()" class="button-4">End turn</button>
    </section>
    <section id="heroSection">
        <section id="hero">

            <div class="card rotatable" [class.rotated]="rotate" (mousedown)="startZoom($event)"
                (mouseup)="stopZoom($event)" (touchstart)="startZoom($event)" (touchend)="stopZoom($event)"
                (touchcancel)="stopZoom($event)" (contextmenu)="preventDefault($event)"
                (selectstart)="preventDefault($event)" [matMenuTriggerFor]="menu" *ngFor="let card of game.heroCards">
                <img
                    [src]="card.imagesrc ? 'https://marvelcdb.com' + card.imagesrc : 'https://marvelcdb.com/bundles/cards/' + '.png'" />
            </div>
        </section>
        <div id="hero-upgrades">
            <div class="card rotatable" [class.rotated]="rotate" (mousedown)="startZoom($event)"
                (mouseup)="stopZoom($event)" (touchstart)="startZoom($event)" (touchend)="stopZoom($event)"
                (touchcancel)="stopZoom($event)" (contextmenu)="preventDefault($event)"
                (selectstart)="preventDefault($event)" *ngFor="let card of game.heroUpgrades">
                <img
                    [src]="card.imagesrc ? 'https://marvelcdb.com' + card.imagesrc : 'https://marvelcdb.com/bundles/cards/' + '.png'" />
            </div>

        </div>
        <section id="heroAllies">
            <div class="card rotatable" [class.rotated]="rotate" (mousedown)="startZoom($event)"
                (mouseup)="stopZoom($event)" (touchstart)="startZoom($event)" (touchend)="stopZoom($event)"
                (touchcancel)="stopZoom($event)" (contextmenu)="preventDefault($event)"
                (selectstart)="preventDefault($event)" data-counter="5" *ngFor="let card of game.allies">
                <img
                    [src]="card.imagesrc ? 'https://marvelcdb.com' + card.imagesrc : 'https://marvelcdb.com/bundles/cards/' + '.png'" />
            </div>
        </section>
        <section id="heroSupports">
            <div class="card" (mousedown)="startZoom($event)" (mouseup)="stopZoom($event)"
                (touchstart)="startZoom($event)" (touchend)="stopZoom($event)" (touchcancel)="stopZoom($event)"
                (contextmenu)="preventDefault($event)" (selectstart)="preventDefault($event)"
                *ngFor="let card of game.heroSupport">
                <img
                    [src]="card.imagesrc ? 'https://marvelcdb.com' + card.imagesrc : 'https://marvelcdb.com/bundles/cards/' + '.png'" />
            </div>
        </section>

    </section>
    <div class="hand" id="playerHand">
        <!-- Aquí van las cartas en la mano del jugador -->
        <div class="card" (mousedown)="startZoom($event)" (mouseup)="stopZoom($event)" (touchstart)="startZoom($event)"
            (touchend)="stopZoom($event)" (touchcancel)="stopZoom($event)" (contextmenu)="preventDefault($event)"
            (selectstart)="preventDefault($event)" appOpenMenuTrigger [matMenuTriggerFor]="menu"
            *ngFor="let card of game.playerHand">
            <img
                [src]="card.imagesrc ? 'https://marvelcdb.com' + card.imagesrc : 'https://marvelcdb.com/bundles/cards/' + '.png'" />
        </div>
    </div>
</main>
<mat-menu #menu="matMenu">
    <button mat-menu-item>Alter Ego</button>
    <button mat-menu-item>Action</button>
</mat-menu>